@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'eurofighter';
  src: local('eurofighter'), url(../../fonts/eurofighter.ttf) format('truetype');
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #050017;
}
a{
  text-decoration: none;
}
a:hover{
  color: white;
}
li{
  list-style-type: none;
}
.hero{
  grid-template-columns: 15% 42.5% 42.5%;
}


@media (max-width: 768px){
  .navbar{
    right: -1vw;
    overflow: hidden;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}


@media (max-width: 768px){
  .navbar ul{
    transform: translateX(100%);
    animation: none;
    animation-duration: .5s;
  }
}