@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'eurofighter';
  src: local('eurofighter'), url(./assets/fonts/eurofighter.ttf) format('truetype');
}

body{
  background: #050017;
}

.text-logo{
  width: 200px;
}

.dark-background{
  background: #050017;
}

nav{
  font-family: eurofighter, serif;
}